.slide {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.slide .overlap-wrapper {
  background-color: #ffffff;
  height: 1080px;
  width: 1920px;
}

.slide .overlap {
  height: 1080px;
  position: relative;
  width: 1837px;
}

.slide .overlap-group {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1837px;
}

.slide .element {
  height: 444px;
  left: 601px;
  object-fit: cover;
  position: absolute;
  top: 636px;
  width: 452px;
}

.slide .img {
  height: 610px;
  left: 134px;
  object-fit: cover;
  position: absolute;
  top: 238px;
  width: 409px;
}

.slide .element-2 {
  height: 482px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 598px;
  width: 287px;
}

.slide .element-3 {
  height: 291px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 573px;
}

.slide .div {
  height: 80px;
  left: 1052px;
  position: absolute;
  top: 606px;
  width: 785px;
}

.slide .line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 783px;
}

.slide .text-wrapper {
  -webkit-text-stroke: 3px #000000;
  color: #ffffff;
  font-family: "UnJamoSora-Regular", Helvetica;
  font-size: 64px;
  font-weight: 400;
  left: -3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -3px;
}

.slide .element-4 {
  height: 80px;
  left: 1052px;
  position: absolute;
  top: 718px;
  width: 785px;
}

.slide .text-wrapper-2 {
  color: #000000;
  font-family: "UnJamoSora-Regular", Helvetica;
  font-size: 128px;
  font-weight: 400;
  left: 52px;
  letter-spacing: 12.80px;
  line-height: normal;
  position: absolute;
  top: 894px;
}

.slide .element-5 {
  height: 80px;
  left: 1052px;
  position: absolute;
  top: 46px;
  width: 785px;
}

.slide .element-6 {
  height: 80px;
  left: 1052px;
  position: absolute;
  top: 158px;
  width: 785px;
}

.slide .element-7 {
  height: 80px;
  left: 1052px;
  position: absolute;
  top: 270px;
  width: 785px;
}

.slide .element-8 {
  height: 80px;
  left: 1052px;
  position: absolute;
  top: 382px;
  width: 785px;
}

.slide .element-9 {
  height: 80px;
  left: 1052px;
  position: absolute;
  top: 494px;
  width: 785px;
}

.slide .element-10 {
  height: 433px;
  left: 573px;
  object-fit: cover;
  position: absolute;
  top: 81px;
  width: 414px;
}

.slide .text-wrapper-3 {
  -webkit-text-stroke: 3px #000000;
  color: #ffffff;
  font-family: "UnJamoSora-Regular", Helvetica;
  font-size: 64px;
  font-weight: 400;
  left: 1596px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 936px;
}